.head1{
    color: white;
    font-weight: 600;
    display: flex;
    letter-spacing: 1.3px;
    align-items: flex-start;
    justify-content: flex-start !important;
}
.overLay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}





.head2{
    padding: 6px;
    display: flex;
    background: white;
    opacity: 0.6;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 17px;
    height: 30px;
    margin-bottom: -15px;
    font-weight: 700;
    /* font-family: 'Work Sa', sans-serif; */
    letter-spacing: 2px;
    font-family: 'Rancho', sans-serif !important;
    align-items: center;
}