.delText{
    font-size: 19px;
    font-family: 'Work Sa', sans-serif;
    font-weight: 500;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: black;
}

.box{
    border-radius: 10px;
}

.raceHeading{
    font-weight: 700;
    font-size: 18px;
    /* letter-spacing: 1px; */
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;

}

.gravText{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

p{
    text-align: justify;
    font-family: 'Work Sa', sans-serif;
}