.header {
  background: url("../../../Images/racesHeader.jpg");
  /* position: absolute;
    top: 0;
    left: 0; */
  height: 500px;
  background-position: center;
  width: 100% !important;
  background-size: cover;
  height: 100vh;
  /* background: url(../images/about-banner.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}

/* .header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:-35px;
    width: 100%;
    height: 70px;
     background: linear-gradient(to top,  #ffffff, #ffffff ,  transparent);
    /* background: url("../../../Images/shadow.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
} */
.redText {
  color: #07233b;
}

.mainText {
  z-index: 10;
  font-size: 4rem;
  line-height: 60px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  color: #32bed4;
  /* margin-left: -10px !important; */
  /* font-family: 'Rancho', cursive; */
  /* color: #5acfff; */
}
