.main{
    width: 100%;
    padding: 20px 0;
    margin-top: 80px;
}

label{
    font-weight: 400 !important;
}

.main > main{
margin-top: 70px;
border-radius: 8px;
height: 100%;

padding: 30px 0px;
background: rgb(255, 255, 255);
}

.signUpBtn{
background: #1D4ED8;
}

.signInBtn{
background: #4F46E5;
}

.successResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #97e89794;
    color: green;
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.successResponse>i{
    font-size: 22px !important;
}
.alreadyResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ffed17b8;
    color: black;
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.alreadyResponse>i{
    font-size: 22px !important;
}
.errResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ff1717b8;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.errResponse>i{
    font-size: 22px !important;
}