
.successResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #97e89794;
    color: green;
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.successResponse>i{
    font-size: 22px !important;
}
.alreadyResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ffed17b8;
    color: black;
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.alreadyResponse>i{
    font-size: 22px !important;
}
.errResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ff1717b8;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.errResponse>i{
    font-size: 22px !important;
}

.uploadSection{
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a8eeff5e;
    height: 75%;
    padding: 30px;
    border: 1px dashed black;
    border-radius: 10px;
}

.uploadBtn{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    margin: 10px 50px;
    box-shadow: 1px 2px 17px 1px #bdbdbd;
    
}

.uploadInput{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    margin: 10px 50px;
    box-shadow: 1px 2px 17px 1px #bdbdbd;
}
.uploadInput:hover{
    background-color: rgba(143, 218, 253, 0.829) !important;
}

.mainBox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.file1{
    font-size: 90px;
    transform: rotate(0deg);
    z-index: 10;
    transition: 0.3s all ease-in-out;
}
.file2 {
    -webkit-animation-name: slideInDown;
    font-size: 90px;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    }
 
    @keyframes slideInDown {
    0% {
    /* -webkit-transform: translateY(-100%); */
    transform: rotate(10deg);
    visibility: visible;
    }
    100% {
    /* -webkit-transform: translateY(0); */
    transform: rotate(-10deg);
    }
    }