@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.usersTable{
    width: 90%;
    overflow-x: scroll;
    margin: auto;
    text-align: center;
}


.addresCol{
    width: 60px !important;
}


.sideBox{
    display: flex;
    margin: 10px 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    background-color: rgba(140, 140, 248, 0.267);
    font-family: 'Viga', sans-serif;
    border: 1px solid blue;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.sideBox1{
    display: flex;
    margin: 10px 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    background-color: rgba(248, 140, 155, 0.267);
    font-family: 'Viga', sans-serif;
    border: 1px solid rgb(255, 0, 34);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.sideBox2{
    display: flex;
    margin: 10px 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    background-color: rgba(128, 248, 138, 0.267);
    border: 1px solid rgba(2, 80, 8, 0.267);
    border-radius: 5px;
    font-family: 'Viga', sans-serif;
    text-align: center;
    padding: 5px;
}

.sideBox > div{
    font-size: 28px;
    
}

.sideBox > span{
    font-size: 42px;
    color: rgb(0, 81, 255);
}
.sideBox1 > div{
    font-size: 28px;
    
}

.sideBox1 > span{
    font-size: 42px;
    color: rgb(255, 0, 0);
}
.sideBox2 > div{
    font-size: 28px;
    
}

.paginationSection{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 0px 20px;
}

.pageNumber{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Viga', sans-serif;
}

.sideBox2 > span{
    font-size: 42px;
    color: rgb(9, 100, 0);
}

@media (max-width:753px) {
    .paginationSection{
        flex-direction: column-reverse;
    }

    .pageNumber{
        margin-top: 20px;
    }
}
@media (max-width:1073px) {
    .sideBox{
        font-size: 16px;
    }
    .sideBox > span{
        font-size: 30px;
    }
    .sideBox1 > span{
        font-size: 30px;
    }
    .sideBox2 > span{
        font-size: 30px;
    }
    .sideBox1{
        font-size: 16px;
    }

    .sideBox2{
        font-size: 16px;
    }
}
