@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');

.usersTable{
    width: 90%;
    overflow-x: scroll;
    margin: auto;
    text-align: center;
}

.tableSection{
    width: 100%;
    margin: 20px 0px;
    padding: 10px 15px;
    overflow-x: scroll;
}
.table{
    /* font-family: "Spline"; */
    /* font-family: 'Spline Sans', sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
}
.label{
    font-size: 19px;
    font-weight: 800;
    text-align: left;
    font-family: "Viga", sans-serif;
}