.login {
  margin: 180px 0px 30px;
  transition: all ease-in-out 1s;
}

.animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}

.loginForm {
  transition: all ease-in-out 0.5s;
}

.alreadyResponse {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background: #ffed17b8;
  color: black;
  font-weight: bolder;
  font-family: "Work Sa", sans-serif;
}

.errorResponse {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background: #ff4517b8;
  color: black;
  font-weight: bolder;
  font-family: "Work Sa", sans-serif;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}

.successResponse {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background: #97e89794;
  color: green;
  font-weight: bolder;
  font-family: "Work Sa", sans-serif;
}

.successResponse > i {
  font-size: 22px !important;
}
.alreadyResponse {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background: #ffed17b8;
  color: black;
  font-weight: bolder;
  /* font-family: 'Rancho', sans-serif !important; */
  font-family: "Work Sa", sans-serif;
}

.alreadyResponse > i {
  font-size: 22px !important;
}
.errResponse {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background: #ff1717b8;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  /* font-family: 'Rancho', sans-serif !important; */
  font-family: "Work Sa", sans-serif;
}

.errResponse > i {
  font-size: 22px !important;
}

@media screen and (max-width: 588px) {
  .loginBtn {
    width: 100%;
  }
}
