.racesBG {
  /* background: url(../../../Images/bg-blank.jpg); */
  background: url("../../../Images/bg-blank.jpg") center/cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  background: url("../../../Images/Registration.jpg");
  display: flex;
  /* align-items: end; */
  height: 500px;
  background-position: center;
  width: 100% !important;
  background-size: cover;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:-35px;
    width: 100%;
    height: 70px;
     background: linear-gradient(to top,  #ffffff, #ffffff ,  transparent);
    /* background: url("../../../Images/shadow.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
} */
.redText {
  color: #07233b;
}

.blueText {
  color: #32bed4;
}

.mainText {
  z-index: 10;
  font-size: 4rem;
  line-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  color: #32bed4;
  /* margin-left: -10px !important; */
  /* font-family: 'Rancho', cursive; */
  /* color: #5acfff; */
}

@media (max-width: 900px) {
  .mainText {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .mainText {
    font-size: 2rem;
  }
}
