.image{
    height: 350px;
    width: 100%;
    margin: 7px 0px;
    border: 0px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.image:hover{
    /* transform: scale(1.2); */
    margin-bottom: 5px;
    transform: rotate(-3deg);
    box-shadow: 1px 8px 18px grey;
}

.image:first-child:hover{
    
}

.box:nth-child(2):hover{
    transform: rotate(3deg);

}