.mediaSection{
    margin-top: 180px;
}


@media (max-width:990px) {
    .mediaSection{
        margin-top: 120px;
    }
}
@media (max-width:854px) {
    .mediaSection{
        margin-top: 100px;
    }
}