
.head1{
    text-align: center;
    font-weight: 600;
    font-size: 2.3rem;
    font-family: 'Viga', sans-serif;
    margin: 10px auto;
    width: 100%;
    padding: 7px;
    background: #32bed450;
    color: #07233b !important;

}