@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=PT+Serif:ital,wght@1,700&display=swap');

/* .generalInfo{
    margin: 100px 0px 20px 0px;
    padding: 30px 0px;
} */

.section1{
    margin-top: 10px;
    /* padding: 10px; */
}

.smallText{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 1.1em;
    line-height: 30px;
    text-align: justify;
}
.boldText{
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    font-size: 1.6em;
    font-weight: 700;
    text-align: justify;
    line-height: 30px;
}

.itallicText{
    letter-spacing: 1px;
    font-size: 27px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Oooh Baby', cursive;
}

.generalInfo{
    margin-top: 180px; 
}

@media (max-width:990px) {
    .generalInfo{
        margin-top: 120px; 
    }
}


