@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Redressed&display=swap");
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  padding: 5px 0px;
  background: linear-gradient(#ffffff, #3fc3d7);
  font-family: "Montserrat", sans-serif;
  min-height: 100px;
}

.brandHeading {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Viga", sans-serif; */
  /* font-family: 'Spline Sans', sans-serif; */
}

.socialLinks > a {
  margin: 0px 7px;
  text-decoration: none;
  /* color: #000000; */
  color: #271d74;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
}
.socialLinks > a:hover {
  transform: translateY(0) scale(1.5);
  color: #ffffff !important;
}

.footer > div {
  color: #ffffff !important;
  /* margin: 0 !important; */
  transition: 0.3s all ease-in-out;
  background: none !important;
}

.copyRight {
  text-align: center;
  font-size: 1.5rem;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Spline Sans", sans-serif;
  font-weight: 600;
  /* letter-spacing: 0.7px; */
  color: black;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 0, 0);
}

@media (max-width: 890px) {
  .copyRight {
    font-size: 1rem;
  }
}
