.volterDetails{
    margin-top: 180px;
}
@media (max-width:985px) {
    
    .volterDetails{
        margin-top: 120px;
    }
}
@media (max-width:885px) {
    
    .volterDetails{
        margin-top: 100px;
    }
}