.main{
    width: 100%;
    padding: 20px 0;
    margin-top: 80px;
}
label{
font-weight: 400 !important;
}
.main > main{
margin-top: 70px;
border-radius: 8px;
height: 100%;
-webkit-box-shadow: 5px 4px 37px 23px rgba(111,111,111,0.72); 
box-shadow: 5px 4px 17px 13px #32bed42f;
padding: 30px 0px;
background: rgb(255, 255, 255);
}

.signUpBtn{
background: #1D4ED8;
}

.signInBtn{
background: #4F46E5;
}
.successResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #97e89794;
    color: green;
    font-weight: bolder;
    font-family: 'Work Sa', sans-serif;
}

.alreadyResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ffed17b8;
    color: black;
    font-weight: bolder;
    font-family: 'Work Sa', sans-serif;
}

.errorResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ff4517b8;
    color: black;
    font-weight: bolder;
    font-family: 'Work Sa', sans-serif;
}