.header {
  background: url("../../../Images/aboutUs1.jpg") scroll 0 0;
  height: 500px;
  background-position: center;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -31px;
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, #ffffff, #ffffff, transparent);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
} */

.redText {
  color: #07233b;
}

/* .pilarsBox {
  margin: 15px 0px;
  border-radius: 10px;
  border: 1px solid #c6c3c3;
  box-shadow: 1px 11px 28px #c7c7c7;
  padding: 18px;
} */

.mainText {
  z-index: 10;
  font-size: 4rem;
  line-height: 60px;
  text-align: left;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  color: #32bed4;
  /* margin-left: -10px !important; */
  /* font-family: 'Rancho', cursive; */
  /* color: #5acfff; */
}

@media (max-width: 900px) {
  .mainText {
    font-size: 2.8rem;
  }
  .pilarsBox {
    margin: 15px 0px;
    border-radius: 10px;
    border: 1px solid #c6c3c378;
    box-shadow: 1px 11px 28px #c7c7c7;
    padding: 18px;
  }
}
@media (max-width: 500px) {
  .mainText {
    font-size: 2.8rem;
  }
}
