.teamSection {
  /* background: #acacaf url(../../../Images/bg-pattran.png) no-repeat  scroll 0 0; */
  /* background: #51b9c9c5 url(../../../Images/bg-pattran.png) no-repeat  scroll 0 0; */
  /* background: ##271d74 url(../../../Images/bg-pattran.png) no-repeat  scroll 0 0; */
  background: url(../../../Images/bg-blank.jpg) no-repeat scroll 0 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container1 {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-warp: warp; */
  padding: 30px;
}

.container1 .card1 {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.container1 .card1:hover {
  height: 320px;
}

.container1 .card1 .image1 {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container1 .card1 .image1 img {
  max-width: 100%;
  border-radius: 15px;
}

.container1 .card1 .content1 {
  position: relative;
  top: -140px;
  /* padding: 10px 15px; */
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container1 .card1:hover .content1 {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
