.aboutText{
    text-align: justify;
    font-weight: 500 !important;
    font-family: 'Work Sa', sans-serif;
    
}



.about-marathon{
    margin: 20px 0;
    padding: 10px 0px;
}

.head2{
    text-align: center !important;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    margin: 10px 0px;
    font-family: 'Work Sa', sans-serif;
    color: #32bed4 !important;
}

.head3{
    color: #32bed4 !important;
}




