
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');



.countdown{
    display: flex;
    justify-content: center;
    height: 100%;
}

.countdown div{
    width: 13rem;
    height: 13rem;
    background: linear-gradient( to bottom,
    rgba(61,58,58,0.9) 50%,
    rgba(99,93,93,0.9) 0);
    margin: 10px 25px;
    font-size: 7rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1.5rem rgb(0, 0, 0);
    position: relative;
}

.countdown div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.27rem;
    box-shadow: 1px 1px 3px rgb(185, 185, 185);
    background-color: #17181b;
}

.countdown div::after{
    content: attr(data-content);
    font-size: 2.2rem;
    font-weight: 500;
    z-index: 100;
    position: absolute;
    bottom: -6rem;
    color: rgb(0, 0, 0);
        /* font-family: 'Rancho', cursive; */
        /* font-family: 'Viga', sans-serif; */
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Chelsea Market', cursive;
}

@media (max-width:989px) {
    .countdown div{
        width: 8rem;
        height: 100%;
        font-size: 5em;
        margin: 40 20px;
    }
    .countdown div::after{
        font-size: 2rem !important;
        bottom: -3.3rem;
    
    }
}
@media (max-width:772px) {
    .countdown div{
        width: 7rem;
        height: 7rem;
        font-size: 4rem;
        margin: 20px 20px;
    }
    .countdown div::after{
        font-size: 1rem !important;
        bottom: -2rem;

    }
}

@media (max-width:386px) {
    .countdown div{
        width: 6rem;
        height: 6rem;
        font-size: 4rem;
        margin: 40px;
    }
    .countdown div::after{
        font-size: 2rem !important;
        bottom: -3rem;
        /* margin: 20px 0px; */
    }
}

@media (max-width:320px) {
    .countdown div{
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        margin: 25px;
    }
    .countdown div::after{
        font-size: 1.5rem !important;
        bottom: -3rem;
        /* margin: 20px 0px; */
    }
}

