@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

.upcoming-races {
  padding: 30px;
  margin: 20px 0px;
  /* height: 100%; */
  height: 600px;
  width: 100%;
  background: url("../../../Images/bg1.jpg");
  background-attachment: fixed;
  background-origin: content-box;
  background-size: cover;
  background-position: center;
  filter: brightness(5px);
}

.bharatImg {
  height: 450px;
  width: 80%;
}

.marginTopHome {
  margin-top: 90px;
}
.diamondSponsorSection1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-around;
}

.countdownSection {
  padding: 50px 0px;
  height: 410px;
  /* background: #d5f7ffad; */
}

.organisedBy {
  padding: 10px;
  display: flex;
  align-items: center;
}

.head2 {
  text-align: center;
  font-weight: 700 !important;
  font-size: 1.3rem;
  margin: 10px 0px;
  font-family: "Work Sa", sans-serif;
  color: #32bed4 !important;
}

.head3 {
  color: #32bed4 !important;
}

.carasoulSection {
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pilarsBox {
  height: 100%;
  padding: 10px;
  border-radius: 7px;
  transition: 0.3s all ease-in-out;
  text-align: center;
}
.pilarsBox:hover {
  background: #c0f2fa69;
  box-shadow: 1px 5px 18px 0.4px #32bed478;
}

@media (max-width: 880px) {
  .upcoming-races {
    height: 8%;
  }
}
