@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap");
.container {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.bg_blue {
  background-color: #32bed4c7 !important;

  opacity: 1;
  z-index: 100000;
  width: 100%;
  padding: 0px;
}

.navbar-brand {
  border: 0px solid transparent !important;
}
.logo {
  width: 17rem;
  height: 82px;
}

.navBar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 10000000000;
  width: 100%;
}

.wobble {
  padding-top: 0px;
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 13deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -15deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 13deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -13deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -11deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.navbar-brand {
  border: transparent !important;
}

.nav-item {
  padding: 1px 4px !important;
  height: 30px !important;
  margin: 0px 2px;
  font-weight: 500;
  letter-spacing: -1px;
  text-decoration: none;
  font-family: "Viga", sans-serif;
}

.marqueenText {
  font-family: "Viga", sans-serif;
  letter-spacing: 0.5px;
}

.nav-link {
  transition: all 0.2s ease-in-out;
  color: black;
  height: 30px !important;
  margin: 0px 1px;
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: -1px;
  text-decoration: none;
  /* font-family: "Viga", sans-serif; */
  font-family: "Spline Sans", sans-serif;
}
.nav-dropdown-link {
  transition: all 0.2s ease-in-out;
  color: black;
  padding: 2px;
  margin: 0px 5px;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
  font-family: "Viga", sans-serif;
}

.nav-dropdown-link:hover {
  color: #ffffff !important;
  transform: translateY(0) scale(1.8);
}

.nav-link:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: #ffffff !important;
  /* transform: translateY(0) scale(1.8); */
}

.nav-link.active {
  color: #ffffff !important;
  border-bottom: 2px solid rgb(255, 255, 255) !important;
}

@media (max-width: 890px) {
  .nav-link {
    margin: 0px;
    padding: 0px;
    padding: 0.2rem 1rem !important;
    height: 50px;
  }
}

@media (max-width: 890px) {
  .logo {
    width: 11rem;
    height: 56px;
  }
}
@media (max-width: 1140px) {
  .nav-link {
    font-size: 1.12em;
    padding: 0px;
  }
}
@media (max-width: 988px) {
  .nav-link {
    font-size: 1.5em;
    letter-spacing: 0px;
  }
}
