.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 29px;
    background: url("../../../Images/9202.jpg") ;
    height: 500px; 
    background-position: center;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.redText{
    color: #07233b;
}

.mainText{
    z-index: 10;
    font-size: 3rem;
    line-height: 60px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    color: #32bed4;
    text-align: start;
}


@media (max-width:320px) {
    .mainText{
        font-size: 2rem;
        line-height: 35px;
    }
}

