
.head2{
    margin: 10px 0px;
    color: #07233b;
    font-family: 'Rancho', cursive;
    font-size: 2rem;
}

.colorBlue{
    color: #07233b !important;
}

.colorLightBlue{
    color: #32bed4 !important;
}

.link{
    text-decoration: none;
    color: #07233b;
}

.head3{
    color: #07233b;
    font-family: 'Rancho', cursive;
    font-weight: 500;
    font-size: 2rem;
}

.animated{
    animation: up-down 1.5s ease-in-out infinite alternate-reverse both ;
}

.header{
    margin-top: 120px;
    margin-bottom: 30px;
}

@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px)
    }
}
@keyframes up-down{
    0%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-15px)
    }
}

.head1{
    z-index: 10;
    font-size: 4rem;
    line-height: 60px;
    font-weight: bold;
    margin-top: 10px;
    /* font-family: 'Work Sans', sans-serif; */
    letter-spacing: 1px;
    color: #32bed4;
    /* margin-left: -10px !important; */
    font-family: 'Rancho', cursive;
    /* color: #5acfff; */
}

@media (max-width:986px) {
    
 .header{
    margin-top: 70px;
}
.head1{
    font-size: 3rem;
}

.head2{
    font-size: 1.7rem;
}

.head3{
    font-size: 1.7rem;
}
}

@media (max-width:320px) {
    .link{
        font-size: 11px;
    }
}
@media (max-width:400px) {
    .link{
        font-size: 13px;
    }
    .head1{
        font-size: 2.5rem;
    }
    
    .head2{
        font-size: 1.7rem;
    }
    
    .head3{
        font-size: 1.7rem;
    }

}



