.btn{
    background: #000000;
    padding: 16px 40px;
    color: #fff !important;
    font-weight: 600;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background: #ffff;
    color: rgb(0, 0, 0) !important;
}
