@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.card-title{
  font-family: 'Viga', sans-serif !important;
}

.list-group-item{
  
  font-family: 'Work Sa', sans-serif !important;
  font-weight: bold;
}
.w100{
  width: 100% !important;
}

.nav-link.active{
  color: rgb(255, 255, 255) !important;
}

.card{
  transition: .5s all ease-in-out;
}

.card:hover{
  transform: translateY(0) scale(1.1);
  filter: brightness(1.4);
}

.nav-link{
  padding: 0.3rem 1rem !important;
}


.active{
    border-bottom: 3px solid #ffffff;
    color: #ffffff !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
}
.dropdown{
    color: #ffffff !important;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  letter-spacing: 1px;
  transition: 0.3s all ease-in-out !important;
  font-family: 'Viga', sans-serif !important;
  font-weight: 700;
}

.btn:hover{
  background: #32bed4b6 !important;
  color: black !important;
}
.box{
  transition: 0.3s all ease-in-out;
  background: #a3dde65e
}
.box:hover{

  -webkit-box-shadow: 0px 2px 17px -5px rgba(50,190,212,1);
-moz-box-shadow: 0px 2px 17px -5px rgba(50,190,212,1);
box-shadow: 0px 2px 27px -5px rgba(50,190,212,1);
}

.form-label{
  font-family: 'Viga', sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.invalid input {
  border: 1px solid #b40e0e !important;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}