@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
.container{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.bg_blue{
    background-color: #32bed4 !important;
    opacity: 0.9;
    z-index: 10;
}

.logo{
    width: 14rem;
    height: 60px;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000000;
}


.navbar-brand{
    color: rgb(0, 0, 0) !important;
    font-weight: 900;
    font-size: 1.7em;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Viga', sans-serif;
    border: transparent;
}

.navbar-brand:hover{
    color: #eee;
    
}

.nav-link{
    transition: all 0.2s ease-in-out;
    color: black;
    padding: 2px;
    height: 30px !important;
    margin: 0px 10px;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-decoration: none;
    /* font-family: 'Chelsea Market', cursive; */
    font-family: 'Viga', sans-serif;
}
.nav-dropdown-link{
    transition: all 0.2s ease-in-out;
    /* color: #ffff; */
    color: black;
    padding: 2px;
    margin: 0px 5px;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    /* font-family: 'Chelsea Market', cursive; */
    font-family: 'Viga', sans-serif;
}

.nav-dropdown-link:hover{
    color: #ffffff !important;
    transform: translateY(0) scale(1.8);
}

.nav-link:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    color: #ffffff !important;
    transform: translateY(0) scale(1.8);
    
}

