.errResponse{
    font-size: 20px;
    text-align: center;
    padding: 10px ;
    background: #ff1717b8;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    /* font-family: 'Rancho', sans-serif !important; */
    font-family: 'Work Sa', sans-serif;
}

.errResponse>i{
    font-size: 22px !important;
    color: black;
}