.prize-section{
  padding: 10px 1px;
  margin: 180px 0px 20px 0px;
  /* background: url("../../../Images/bg-blank.jpg"); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter_section{
  margin: 20px auto;
  font-family: "Viga", sans-serif;
  font-size: 25px;
}

@media (max-width:982px) {
  .prize-section{
    margin: 120px 0px 20px 0px;
  }
}