.prize-card {
  border: 1px solid transparent;
  /* padding: 0px !important; */
  /* height: 200px; */
  letter-spacing: 1px;
    margin: 10px 1px;
  font-family: "Viga", sans-serif;
  transition: 0.3s all ease-in;
}

.main-heading {
    color: #07233be1;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.box{
    border: 3px solid #6fd2e1;
    background: #FFF;
    padding: 20px;
    margin: 1px 5px;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
}

.box:hover{
    /* background: #6fd2e12a; */
    background: linear-gradient( #6fd2e18e,#FFF  );
    /* background: #6fd2e169; */
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 1px 8px 19px rgb(100, 100, 100);
}

.race-heading {
    /* color: #6fd2e1; */
    font-size: 20px;
}

.gender-heading{
    font-weight: 600;
    font-size: 20px;
    color: #6fd2e1;
}

.prize-heading{
    font-weight: 700;
    font-size: 25px;
    color: #6fd2e1;
}

.darkText{
    font-size: 20px;
    color: #07233be1;
}